* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea {
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 50px;
}

#mainComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#status {
  width: 70%;
  display: flex;
  justify-content: space-between;
  height: 15px;
}

#errorText {
  color: red;
}

#successText {
  color: green;
}

#mainComponent h1 {
  margin-bottom: 10px;
}

#mainComponent form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formItem {
  display: flex;
  width: 70%;
  margin: 10px 0;
  align-items: center;
}

.formItem h3 {
  width: 20%;
}

.formItem input,
.formItem textarea {
  width: 80%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

#msgItem {
  align-items: flex-start;
}

#submitBtn {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

#submitBtn:hover {
  background-color: wheat;
}

@media only screen and (max-width: 750px) {
  .formItem {
    width: 95%;
  }
}

@media only screen and (max-width: 550px) {
  #mainComponent h1 {
    font-size: 18px;
  }

  .formItem h3 {
    display: none;
  }

  .formItem input,
  .formItem textarea {
    width: 100%;
  }
}
